body {
    font-family: futura-pt-bold, sans-serif;
}
h1 {
    color: black;
}

h2 {
    color: red;
}

p {
    color: green;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}