body {
    font-family: futura-pt-bold, sans-serif;
}

/* Nav Bar*/

nav {
    position: fixed;
    top: 0vh;
    left: 0;
    right: 0;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background-color: transparent;
    padding-top: 3vh;
    padding-right: 10px;
}

#github,
#linkedin,
#resume {
    height: 6vh;
    width: 4.75vw;
}

/* General Body */
h1 {
    color: white;
}

.home-page h1,
.about-me h1{
    color: gray;
}

h2 {
    color: red;
}

p {
    color: green;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Form */

.input-group {
    margin-bottom: 30px;
    position: relative;
    color: #C3E0E5;
    overflow: hidden;
}
i {
    padding-right: 5px;
}
input, textarea {
    width: 90%;
    min-width: 600px;
    padding: 10px;
    outline: 0;
    border: 1px solid #C3E0E5;
    color: #C3E0E5;
    background: transparent;
    font-size: 15px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #C3E0E5;
    cursor: text;
}
button {
    padding: 10px 0;
    color: #C3E0E5;
    outline: none;
    background: transparent;
    border: 1px solid #C3E0E5;
    width: 100%;
    cursor: pointer;
}

